/GeneticAlgorithm.sln
/GeneticAlgorithm/obj/
/GeneticAlgorithm/bin/
/NNOptimization/obj/
/NNOptimization/bin/
/OptimizationIO/obj/
/OptimizationIO/bin/
/OptimizationRunner/obj/
/OptimizationRunner/bin/
/.idea/
/Program/
